#select_date_form
  fieldset
    label
      font-weight: bold
    .filter_field
      float: left
      margin-right: 15px
      &.dash
        font-size: 25px
        padding-top: 27px
    .btn
      margin-top: 25px
      margin-left: 20px


table.reports
  font-size: 12px
  border-collapse: collapse
  border: 1px solid #DDD  
  thead    
    th
      vertical-align: middle
      text-align: center
      line-height: 16px
      border: 1px solid #DDD
      background-color: #EAEAEA
  tbody   
    td
      text-align: center
      vertical-align: middle
      border: 1px solid #DDD   
  tfoot
    td
      text-align: center
      vertical-align: middle
      border: 1px solid #DDD   
      font-weight: bold      

#short_info
  width: 150px
  ul
    margin-left: 0px
    list-style: none
  .title, .sum
    display: inline-block
  .title
    float: left
  .sum  
    float: right
    font-weight: bold
