#dashboard_profile
	.form-inputs
		label#remove_avatar
			display: inline
		input#user_remove_avatar
			margin-top: 0px
			margin-left: 20px
		.form_field
			margin-bottom: 10px
			img
				margin-top: 5px
	.form-actions
		padding-left: 0px
		padding-bottom: 0px
		margin: 0px
