= content_for :css do
  = stylesheet_link_tag "forum"
  
h2= t('forum.manage_users')
= text_field_tag "new_user"
= button_tag t("forum.spam_user"), :disabled => true, :id => "block_user", :class => 'btn btn-warning'

#users_list
	= render :partial => 'users_list'

= javascript_include_tag "jquery-ui-autocomplete.min.js"
= javascript_include_tag "forum"