#posts_container
  position: relative

  .post
    margin: 
      top: 20px
      bottom: 20px
    .post_small_preview
      width: 160px
      height: 120px
      float: left
      overflow: hidden
      padding: 
        top: 8px
        right: 20px
        bottom: 20px
    .post_information
      width: auto

  .admin_actions 
    float: right  
    padding-bottom: 20px 
  .image_wrapper 
    margin: 20px
  .description_wrapper
  .content_wrapper

  .info_block
    .posted_by
      font-weight: bold
    .created_at
      font-weight: bold

  table.news
    td.content
      width: 350px
    td.actions 
      vertical-align: middle
      width: 80px  
    td.date
      vertical-align: middle  
    td.image
      vertical-align: middle  
    .btn  
      width: 65px

#post_form      
  span#cke_post_content
    margin:
      left: 18px
      bottom: 10px
    display: inline-block