= title "Портал споживачів комунальних послуг"
= description "Портал споживачів комунальних послуг"
= keywords "Портал споживачів комунальних послуг"

h1 Портал споживачів комунальних послуг

= link_to_page 'help'
br
= link_to_page 'about' 
br
= link_to_page 'payments'
br
= link_to_page 'contacts'