/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require "admin/admin"
 *= require "dashboard/dashboard"
 *= require "news/news"
 *= require "contacts/contacts"
 *= require "pages/pages"
 *= require bootstrap_and_overrides
 *= require cerulean
 *= require navigation
 *= require forum
 *= require google_search
 *= require footer
 *= require jquery.ui.autocomplete
 *= require jquery.ui.tabs
  */

.clearfix, .clear {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.vertical_divider {
  height: 3px;
} 

.horizontal_divider {
 width: 3px;
 display: inline-block;
}

.gsc-input {
  margin-top: 10px;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.none {
  display: none;
}

#user_remove_avatar {
  margin-left: 20px;
}

ul.ui-autocomplete {
  max-height: 133px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.simple_form.form-horizontal .help-block {
  margin-top: 0px;
  font-size: 12px;
}

.navbar ul.nav {
  margin: 0px;
}

.navbar li.divider-vertical {
  margin: 0px;
}

.navbar ul.nav > li > a {
  padding: 16px 19px 14px;
}

.navbar a.brand {
  padding: 16px 29px 14px 20px;
}

table.table.table-striped thead tr th {
  vertical-align: top;
}