.span12
  hr
    margin: 20px 0 0 0px
  .pagination
    float: right
    margin: 0px
  table.forums, .category table.forums
    width: 100%
    border-collapse: separate
    border: 5px solid #EEE
    border-radius: 5px
    margin-bottom: 30px
    thead
      background-color: #EEE
      line-height: 30px
      tr
        th
          color: #6F6F6F
          text-align: center
          font-weight: normal
          font-size: 14px
          vertical-align: middle
          width: 10%
          &.desc-and-last-post
            width: 60%
            text-align: left
            padding-left: 5px
    tbody
      line-height: 30px
      tr
        &.even
          background-color: #EDF9FB
        td
          text-align: left
          font-weight: normal
          font-size: 14px
          vertical-align: middle
          &.forum_name
            padding-left: 5px
          &.topics-count, &.posts-count, &.views-count
            text-align: center
          a.title
            font-size: 18px
            color: #FAAE1A
          div.description
            font-weight: 100
            font-size: 13px
            line-height: 17px
          span.last_post
            padding-left: 15px
            font-size: 14px
            color: #6F6F6F
            line-height: 14px
  table.admin_forums, table.admin_categories    
    thead
      tr
        th
          padding: 5px 10px
          text-align: left
          &.forum_actions
            width: 10%
          &.forum_info
            width: 60%
          &.topics-count, &.posts-count
            text-align: center
    tbody
      tr
        td
          padding: 5px 10px
          &.topics-count, &.posts-count
            text-align: center
          div.description
            font-weight: 100
            font-size: 14px
            line-height: 14px
          span.last_post
            padding-left: 15px
            font-size: 14px
            color: #6F6F6F
            line-height: 14px
  table.admin_categories
    margin: 20px 0
    th
      &.forum_actions
        text-align: center
    td
      &.forum_actions
        text-align: center
  #forum, #topic
    small
      font-weight: 100
    menu
      float: left
      margin: 5px 0px 15px
      padding: 0px
      a
        margin-right: 10px
        // color: #7A7A7A
  table.topics
    width: 100%
    border-collapse: separate
    line-height: 30px
    thead
      border-collapse: separate
      background-color: #EEE      
      tr
        th
          &.icon  
            border-top-left-radius: 5px
          &.views-count
            border-top-right-radius: 5px
          color: #6F6F6F
          font-weight: normal
          text-align: left
          font-size: 14px
          vertical-align: middle
          &.byline
            width: 50%
            padding-left: 10px
          &.latest-post
            width: 30%
          &.views-count, &.posts-count            
            width: 10%
            text-align: center
    tbody
      tr
        &.even
          background-color: #EDF9FB
        td
          text-align: left
          font-weight: normal
          font-size: 14px
          vertical-align: middle
          &.byline
            padding: 10px 0px 10px 10px
            .subject
              line-height: 16px
              a
                font-size: 18px
                color: #FAAE1A
            .started-by
              font-weight: normal
              font-size: 14px
              color: #6F6F6F
              line-height: 16px
          &.latest-post
            line-height: 18px
            font-size: 12px
          &.views-count, &.posts-count            
            text-align: center
  #posts
    .post
      padding: 5px
      border: 5px solid white
      display: block
      overflow: hidden
      position: relative
      margin-bottom: 7px
      // line-height: 30px
      .pointything
        position: absolute
        left: 161px
        top: 28px
        float: left
        background-image: url("forem/caret.png")
        height: 30px
        width: 15px
        z-index: 1
      &.even
        background-color: #EDF9FB
        border: 5px solid #EDF9FB
        border-radius: 5px
      &.odd
        background-color: #F9F8F6
        border: 5px solid #F9F8F6
        border-radius: 5px
      .user
        clear: both
        float: left
        width: 160px
      .contents
        margin-left: 170px
        position: relative
        border: 1px solid #EEEEEE
        border-radius: 5px
        padding: 18px
        background-color: white
        a
          time
            font-size: 12px
            line-height: 18px
            color: #908E8E
            &.time-post
              position: absolute
              bottom: 18px
        .posttext
          margin-bottom: 9px
        ul.actions
          text-align: right
          margin: 20px 0 0 0
          padding: 0px
          li
            list-style-type: none
            display: inline
    .moderation
      margin-top: 0px
  .forum_admin
    h2
      float: left
    a.btn
      float: right
      margin-top: 15px
  form#new_post, form.edit_post
    padding: 0px
    label
      display: inline-block
      white-space: nowrap
      text-align: right
      font-weight: 100
      color: #2DA8BC
      padding-right: 10px
      vertical-align: top
      clear: both
    textarea
      width: 733px
      height: 200px
  form#new_post
    margin: 0 0 0 0
  form.edit_post
    margin: 0px
  textarea#forum_description
    width: 500px
    height: 200px
    margin-bottom: 20px
  form#new_topic
    textarea
      width: 500px
      height: 200px
      margin-bottom: 20px
      margin-left: 20px

  .topic_checkbox
    float: left
    margin: 10px 20px 20px 0
    label
      display: inline
      margin: 0 0 0 5px
      padding: 0px
    input
      margin: 0px
      padding: 0px
  .moderation
    border: 5px dashed red
    padding: 10px
    font-size: 16px
    line-height: 30px
    margin-top: 15px
    margin-bottom: 15px
    form
      margin: 0px
    .moderation_checkbox
      float: left
      margin-right: 30px
      label
        display: inline
        margin: 0 0 0 5px
        padding: 0px
      input
        margin: 0px
        padding: 0px
  blockquote
    color: #AAA
    background-color: #F9F9F9
    border-radius: 10px
    line-height: 14px
    padding: 18px
    border: 1px solid #EEE
    
input#new_user
  margin: 0 10px 0 0

.icon
  .lock.icon
    width: 24px
    height: 24px
    background: transparent url('forem/lock_icon.png') 0 0
    display: inline-block

  .pin.icon
    width: 24px
    height: 24px
    background: transparent url('forem/pin.png') 0 0
    display: inline-block

  .hidden_icon.icon
    width: 16px
    height: 16px
    background: transparent url('forem/hidden.png') 0 0
    display: inline-block

  .new_posts.icon
    width: 16px
    height: 16px
    background: transparent url('forem/message.png') 0 0
    display: inline-block

.userstatus
  font-size: 12px
  line-height: 12px
  margin-bottom: 5px
  color: #999

.breadcrumb
  font-size: 20px
  line-height: 30px
  margin: 0 0 10px

.btn.reply
  float: right
  margin-right: 15px

.in_reply_to
  line-height: 27px