.site_search
  margin: 0px 9px 0px 0px
  input
    margin-top: 10px
    &.btn.btnie
      filter: progid:DXImageTransform.Microsoft.gradient(enabled = false)

#title_block
  h1.title
    float: left
  .admin_actions 
    float: none  
  .user_actions 
    float: right
    margin-top: 20px