p
  | Привiт #{@resource.full_name}!
p Ви можете пiдтвердити свiй облiковий запис натиснувши на наступне посилання:
p= link_to 'Пiдтвердити мiй облiковий запис', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token)
