p
  | Привiт #{@resource.full_name}!
p Натиснули посилання, щоб змiнити Ваш пароль? Ви можете зробити це через посилання нижче.
p= link_to 'Змiнити пароль', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
p Якщо нi, просто iгноруйте цей лист.
p Ваш пароль не буде змiнено поки Ви не натиснете на посилання або створите новий.