p
  | Шановний(а) #{@resource.full_name},
p Ваш облiковий запис було заблоковано через перевищення лiмiту невдалих спроб входу на сайт
p Натиснiть на посилання нижче, щоб розблокувати Ваш облiковий запис зараз:
p= link_to 'Розблокувати', unlock_url(@resource, :unlock_token => @resource.unlock_token)
p З повагою,
p Адміністрація сайту